<body class="bg-light">

  <div class="container py-5">
    <h1 class="text-center mb-4">Gerenciar Imagens</h1>

    <!-- Formulário de upload -->
    <form method="post" enctype="multipart/form-data">
      <div class="mb-3">
        <label for="formFileMultiple" class="form-label">Selecione as imagens</label>
        <input #filesInput class="form-control" type="file" id="formFileMultiple" multiple  (change)="selectMultipleImage($event)">
      </div>
      <button type="submit" class="btn btn-primary" (click)="onFilesUpload()">Enviar</button>
    </form>

    <!-- Área de imagens cadastradas -->
    <div class="mt-5">
      <h4>Imagens Cadastradas</h4>

      <!-- Caso não haja imagens -->
      <!-- Backend deve exibir esta div só se não tiver imagens -->
      <div class="alert alert-warning text-center" role="alert">
        Não possui imagens cadastradas
      </div>

      <!-- Caso haja imagens -->
      <!-- Backend deve repetir o bloco abaixo para cada imagem -->
      <div class="row g-3" *ngFor="let image of lista_imagens">
        <div class="col-6 col-md-4 col-lg-3">
          <img src="image.imagem" class="img-fluid preview-img rounded shadow-sm" alt="Imagem 1">
        </div>

      </div>
    </div>
  </div>

</body>
